# mark everything in source as programming code
source/** linguist-vendored=false
source/** linguist-detectable=true
source/** linguist-programming=true

# specific folder overrides for React and Bash
source/bash/** linguist-detectable=true
source/app-board/** linguist-detectable=true

# ensure specific file types are detectable
*.sh linguist-detectable=true
*.jsx linguist-detectable=true
*.js linguist-detectable=true
*.ts linguist-detectable=true

# include Dockerfile in language statistics
Dockerfile linguist-detectable=true
Dockerfile linguist-language=Dockerfile

# hide configuration, styles, and lock files
*.yml linguist-documentation=true
*.yaml linguist-documentation=true
*.json linguist-documentation=true
*.css linguist-documentation=true
*.scss linguist-documentation=true
package-lock.json linguist-generated=true