source/** linguist-vendored=false
source/** linguist-documentation=false
source/** linguist-generated=false
source/** linguist-detectable=true

*.jsx linguist-language=JavaScript
*.js linguist-language=JavaScript
*.sh linguist-language=Shell

source/app-board/src/** linguist-detectable=true
source/app-board/src/** linguist-vendored=false

*.yml linguist-documentation=true
*.json linguist-documentation=true
package-lock.json linguist-generated=true